$SNOWDROPS_LENGTH:60;

.register__container{
    background-color: #333;
    min-height: 100vh;
    height: fit-content;
    text-align: center;
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    label{
        font-size: 1.6rem;
        color: #48b328;
        margin-top: 10px;
    }
    h5{
        color: #48b328;
        font-size: 2rem;
        font-family: "lato", sans-serif;
        font-weight: 400;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    a{
        display: block;
        color: wheat;
        margin-top: 30px;
        font-size: 1.2rem;
    }
    .morphic-input{
        margin-bottom: 10px;
    }
    li.snow-drop {
        opacity: 0;
        position: absolute;
        top: 0;
        border-radius: 100%;
        background-color: #FFFFFF;
        border: none;
        background-repeat: no-repeat;
        background-size: 100%;
        animation-name: snow-drop;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        
        $snow-size-base: 15;
        $browser-buffer: 0;
        $left-position: 100 + $browser-buffer;
        $animate-speed-base: 40000;
        $minimum-falling-speed: 5000;
        $animate-delay-base: 5000;
        $blur-base: 25;
      
        @for $i from 1 through $SNOWDROPS_LENGTH {
          $size: abs(random($snow-size-base) - random($snow-size-base)) + 0px;
      
          &:nth-child(#{$i}) {
            left: abs(random($left-position) - random($left-position)) + 0%;
            width: $size;
            height: $size;
            animation-duration: abs(random($animate-speed-base) - random($animate-speed-base)) + $minimum-falling-speed + 0ms;
            animation-delay: abs(random($animate-delay-base)) + 0ms;
            filter: blur(abs(random($blur-base) - random($blur-base)) + 5px);
          }
        }
    }   
    @keyframes snow-drop {
      $window-height-threshold: 1.5;
    
      0% {
        transform: translate(0, 0);
        opacity: 0.2;
        margin-left: 0;
      }
    
      10% {
        margin-left: 15px;
      }
    
      20% {
        margin-left: 20px;
      }
    
      25% {
        transform: translate(0, 250px / $window-height-threshold);
        opacity: 0.75;
      }
    
      30% {
        margin-left: 15px;
      }
    
      40% {
        margin-left: 0;
      }
    
      50% {
        transform: translate(0, 500px / $window-height-threshold);
        opacity: 1;
        margin-left: -15px;
      }
    
      60% {
        margin-left: -20px;
      }
    
      70% {
        margin-left: -15px;
      }
    
      75% {
        transform: translate(0, 750px / $window-height-threshold);
        opacity: 0.5;
      }
    
      80% {
        margin-left: 0;
      }
    
      100% {
        transform: translate(0, 1000px / $window-height-threshold);
        opacity: 0;
      }
    }
}
.register__error{
    color:rgb(165, 11, 11);
}

.filepond--wrapper{
    width: 250px;
    height: 40px;
    margin-top: 30px;
    position: relative;
    &::after{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 6;
        top:0;
        left:0;
        pointer-events: none;
        box-shadow: -2px -5px 5px #423f3f, 5px 2px 5px #2a2929;
        border-radius: 40px;
    }

}

.filepond--root.filepond--hopper{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .3px;
    
    .filepond--panel-root{
        background-color: #333;
    }
    .filepond--drop-label{
        color:#48b328;
        text-transform: uppercase;
        label{
            span{
                text-decoration: none;
            }
        }
    }
}

.filepond--list.filepond--list[role=list]{
    top: 40px;
    max-height: 150px;
    border-radius: 100px;
}

#register__submit-btn{
    margin-top: 60px;
    width: fit-content;
    padding: 0 20px;
}

.Register-active{
    margin: 0;
    #root{
       .MainContainer{
           .navBar{
               display: none;
           }
       } 
    }
}
