.transcForm{
    margin: 0 10px;
    .transcForm_input-ammount{
        grid-area: a;
    }
    .transcForm_input-category{
        grid-area: c;
    }
    .transcForm_input-description{
        grid-area: d;
    }
    .transcForm_input-tags{
        grid-area: t;
    }
    .transcForm_input-button{
        grid-area: b;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.sticky.nonOffset{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}