.transcForm{
    .transcForm_input-ammount{
        grid-area: a;
    }
    .transcForm_input-category{
        grid-area: c;
    }
    .transcForm_input-description{
        grid-area: d;
    }
    .transcForm_input-tags{
        grid-area: t;
    }
    .transcForm_input-button{
        grid-area: b;
    }
}

.sticky.nonOffset{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}