.transcForm{
    height: 120px;
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    ". a a a a . c c c c ."
    ". d d d d . t t t t ."
    ". . . . . . . . . . .";
    align-items: start;
    justify-items: center;
    position:relative;
    transform: translateY(-30%);
    .transcForm_input-ammount{
        grid-area: a;
    }
    .transcForm_input-category{
        grid-area: c;
    }
    .transcForm_input-description{
        grid-area: d;
    }
    .transcForm-tags{
        transition: all 1s ease;
        position: relative;
        grid-area: t;
        width: 100%;
        .transcForm_input-tags{
            width: 100%;
        }
        .tooltip-input-tags{
            position: absolute;
            clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
            bottom: 80%;
            left: 50%;
            width: fit-content;
            height: fit-content;
            padding: 5px;
            padding-bottom: 30px;
            background-color: rgb(46, 41, 41);
            color: lavender;
            transform: translate(-70%);
            display: none;
            opacity: 0;
        }
        .tooltip-input-tags.appear{
            opacity: 0.8;
            display: inline;
        }
    }
    .transcForm_input-button{
        grid-area: b;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.sticky.nonOffset{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@media (min-width: 728px) {
    .transcForm{
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        ". a a . c c . . d d . t t .";
        height: 60px;
        transform: translateY(-60%);
        margin-bottom: 20px;
        .transcForm_input-button{
            bottom: 15%;
        }
    }
}
