.SingleDatePicker{
    .SingleDatePickerInput__withBorder{
        border: none;
        border-bottom: 3px solid rgba(94, 175, 139, 1);
    }
    .SingleDatePickerInput {
        background: none;
        
        .DateInput.DateInput_1{
            background: none;
            
           .DateInput_input{
                background: none;
                text-align: center;
                padding: 0;
                color: white;
                opacity: 0.7;
                &::placeholder{
                    color: white;
                    opacity: 0.4;
                }
           }
        }
    }
}
.SingleDatePickerInput_calendarIcon_svg.SingleDatePickerInput_calendarIcon_svg_1{
fill:white;
opacity: 0.4;
}

.SingleDatePickerInput_calendarIcon.SingleDatePickerInput_calendarIcon_1{
    margin: 0 5px 0 5px;
}

.DayPicker_focusRegion{
    background: linear-gradient(135deg, rgba(19, 19, 20, 0.8), rgba(31, 92, 94, 0.5), rgba(74,65,65,1));
}

.CalendarMonthGrid{
    background: transparent;
}

.CalendarMonth{
    background: transparent;
}

.CalendarDay__default{
    background: transparent;
}

.DayPicker_weekHeader {
    color: white;
}

.CalendarMonth_caption{
    color: white;
}