.jumbotron__wrapper{
    width: 100%;
    max-width: 400px;
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px solid #739C72;
    opacity: 0;
}

.jumbotron__wrapper.right{
    flex-direction:row-reverse;
}

.jumbotron__wrapper.slide.slide-in{
    animation: moveInFromLeft .5s ease-in;
    opacity: 1;
}
.jumbotron__wrapper.right.slide.slide-in{
    animation: moveInFromRight .5s ease-in;
    opacity: 1;
}


.jumbotron__text{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 3px;
    color: white;
    opacity: 0.8;
    flex-grow: 1;
}

.jumbotron__img{
    min-width: 100px;
    flex-grow: 1;
    color: white;
    display: grid;
    place-items: center;
}

@keyframes moveInFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInFromRight {
    0%{
        opacity: 0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
