.objectives__goal-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    h4,h5{
        text-transform: uppercase;
    }
}