$primary-inc-color: #0FC721;
$primary-inc-shadow: rgba(15,199,33,0.2);
$primary-exp-color: #9F2E2E;
$primary-exp-shadow: rgba(159,46,46,0.5);
$breakpoint-tablet: 760px;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background: rgba(51, 51, 51, 0.7) !important;
  overflow-x: hidden;
  margin: 0 0 12vh 0;
}

@media (min-width: $breakpoint-tablet) {
  body {
    margin: 40px 0 0 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(-20%)
  }

  100% {
      opacity: 1;
      transform: translateY(-30%); 
  }
}

@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-10rem)
  }

  100% {
      opacity: 1;
      transform: translate(0); 
  }
}

@keyframes moveInRight {
  0% {
      opacity: 0;
      transform: translateX(10rem)
  }

  100% {
      opacity: 1;
      transform: translate(0); 
  }
}



